<div class="container">
<h1>About Graffiti Politics: On Street Art, Space, and Public Democracy</h1>
<p>
    The cultural theorist Stuart Hall spent much of his working life 
    focused on the politics of popular culture. As a lyrical New Yorker 
    piece notes, Hall saw popular culture as a site where the “struggle 
    for and against a culture of the powerful is engaged”. And Hall sought 
    to excavate how that struggle was played out — how popular cultural 
    products could be outlets for oppression, as well as rallying-points 
    for resistance.
    
    I want to take Hall’s perspective as a starting point for thinking about the politics of street art. I want to think a little about how street art involves a struggle for and against “a culture of the powerful” — in particular in its sense of authorship, its accessibility, its relationship to ideas of private property and public space. Politics, for me, is centrally concerned with power — with how individuals, identities, and institutions gain or lose power — and I want to contend that it is possible to see street art as related to, and part of, that tussle for power. This is not, to be clear, an academic paper claiming to adhere rigorously to the tenets of Hall’s approach to cultural studies. It is, instead, some notes towards an account of the politics of street art, which uses Hall’s 
    worldview as springboard and inspiration.</p></div>