<div class="container">
    <h1>Contact Us</h1>
    <p>
     Contact Info

     <Address: class=""></Address:>
     

        
        I want to take Hall’s perspective as a starting point for thinking about the politics of street art. I want to think a little about how street art involves a struggle for and against “a culture of the powerful” — in particular in its sense of authorship, its accessibility, its relationship to ideas of private property and public space. Politics, for me, is centrally concerned with power — with how individuals, identities, and institutions gain or lose power — and I want to contend that it is possible to see street art as related to, and part of, that tussle for power. This is not, to be clear, an academic paper claiming to adhere rigorously to the tenets of Hall’s approach to cultural studies. It is, instead, some notes towards an account of the politics of street art, which uses Hall’s 
        worldview as springboard and inspiration.</p></div>